Farmstock_Maintenance.json
{
  "name": "Farmstock_Maintenance",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "15W-MKCHISUjwCdf33OSVCNhFUlr7sqbdHT5ovrOLGUk",
          "mode": "list",
          "cachedResultName": "Farmproducts_Maintenance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15W-MKCHISUjwCdf33OSVCNhFUlr7sqbdHT5ovrOLGUk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15W-MKCHISUjwCdf33OSVCNhFUlr7sqbdHT5ovrOLGUk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        -200
      ],
      "id": "4cd91165-c2dd-4080-9eb1-45042fe568fe",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "tzJ6iGh72X5cUDjk",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6ebd7a9-51f0-4b68-b299-b830327fdc38",
              "leftValue": "={{ $json.StockQuantity }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        200,
        -200
      ],
      "id": "dde8caa4-846f-4925-8c6a-1923a61810a0",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "godofhacker780@gmail.com",
        "subject": "Stock Update details",
        "message": "=<p><strong>Product Stock Alert</strong></p>\n\n<p><strong>ProductID:</strong> {{ $json.ProductID }}</p>\n<p><strong>ProductName:</strong> {{ $json.ProductName }}</p>\n<p><strong>Category:</strong> {{ $json.Category }}</p>\n<p><strong>CurrentQuantity:</strong> {{ $json.StockQuantity }}</p>\n\n<p><strong>RequiredQuantity:</strong>\n  <span style=\"background-color: {{ $json.RequiredQunatity > 0 ? '#ffdddd' : 'transparent' }};\n               font-weight: bold;\n               padding: 2px 6px;\n               border-radius: 3px;\">\n    {{ $json.RequiredQunatity }}\n  </span>\n</p>\n\n<p><strong>ThresholdLevel:</strong> {{ $json.ThresholdLevel }}</p>\n\n<p>Please update the stock as soon as possible which helps to maintain our customers in touch....</p>\n<p><em>Thank you..!!!</em></p>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        500,
        -200
      ],
      "id": "b63e9d5c-eb75-47a1-bbc4-939d802cdadc",
      "name": "Gmail",
      "webhookId": "1396634f-1a99-465b-b2b9-a61d3f4e6f72",
      "credentials": {
        "gmailOAuth2": {
          "id": "9LYmzDJu2NJpaUFn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1810dad-4db8-45a1-aa8a-b3422b2f4127",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4405334aba739f5e5fb0dac339d7bd2631010219c8d08381c6d33539ba04010"
  },
  "id": "OJfuAI1m3TX6vlzf",
  "tags": []
}